.c-btn {
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;    
    border-radius: 4px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
    background-color: #e0e0e0;
    outline: none;
    border: none;
    cursor: pointer;

    &--default {
        color: rgba(0, 0, 0, 0.87);
        background-color: #e0e0e0;
    }

    &--primary {
        color: #fff;
        background: #9c11a5;
    }

    &--serondary {

    }

    &--text {        
        background-color: transparent;
        &:hover {
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0.04);
        }
    }

    &.small {
        padding: 6px 10px;
        font-size: 0.8125rem;
        margin: 8px;
    }

    &.medium {
        padding: 8px 16px;
        font-size: 0.875rem;
    }

    &.large {
        padding: 10px 22px;
        font-size: 0.9375rem;
    }

    &-layout {
        &--center {
            display: flex;
            justify-content: center;
        }
        &--left {
            display: flex;
            justify-content: flex-start;
        }
        &--right {
            display: flex;
            justify-content: flex-end;
        }
    }
}

.c-section {
    padding: 40px 0 60px;

    @media (max-width: 520px) {
        padding: 30px 0 40px;
    }

    &-inset {
        margin-bottom: 20px;
    }
}

.c-grid {
    display: flex;
    flex-flow: row wrap;
    margin-right: -10px;
    margin-left: -10px;

    &--row {
        flex-flow: row wrap;
    }

    &--align {
        &-center {
            align-items: center;
        }

        &-start {
            align-items: flex-start;
        }

        &-strech{
            align-items: stretch;
        }
    }

    &--column {
        flex-flow: column wrap;
    }

    &--between {
        justify-content: space-between;
    }

    &--around {
        justify-content: space-around;
        align-items: flex-start;
    }

    &-col {
        padding: 0 10px;

        &-1 {
            width: calc((100% / 12) * 1);
        }
        &-2 {
            width: calc((100% / 12) * 2);
        }

        &-3 {
            width: calc((100% / 12) * 3);
        }

        &-4 {
            width: calc((100% / 12) * 4);
        }

        &-5 {
            width: calc((100% / 12) * 5);
        }

        &-6 {
            width: calc((100% / 12) * 6);
        }

        &-7 {
            width: calc((100% / 12) * 7);
        }

        &-8 {
            width: calc((100% / 12) * 8);
        }

        &-9 {
            width: calc((100% / 12) * 9);
        }

        &-10 {
            width: calc((100% / 12) * 10);
        }

        &-11 {
            width: calc((100% / 12) * 11);
        }

        &-12 {
            width: calc((100% / 12) * 12);
        }
    }

    &--col-2 {
        .c-grid-col {
            width: 50%;
        }
    }
    &--col-3 {
        .c-grid-col {
            width: 33.3333%;
        }
    }
}

.c-title {
    font-family: 'Bebas Neue', sans-serif;
    color: #E50E89;

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--center {
        text-align: center;
    }

    &-subtitle {
        font-weight: 400;
        font-size: .45em;
        line-height: 1em;
        padding: 0 12%;
        font-family: "Roboto", sans-serif;
        color: #4e1258;
    }

    span {
        display: block;
        margin-bottom: .1em; 
    }

    &--h1 {
        font-weight: bold;
        font-size: 78px;
        line-height: 1em;
        margin-bottom: .5em;

        @media (max-width: 1120px){
            font-size: 68px;
        }

        @media (max-width: 990px){
            font-size: 48px;
        }

        @media (max-width: 450px){
            font-size: 42px;
        }
        
    }

    &--h2 {
        font-weight: bold;
        font-size: 54px;
        line-height: 1.1em;
        margin-bottom: .5em; 

        @media (max-width: 1120px){
            font-size: 50px;
        }

        @media (max-width: 990px){
            font-size: 42px;
        }

        @media (max-width: 450px){
            font-size: 36px;
        }

    }

    &--h3 {
        font-weight: bold;
        font-size: 46px;
        line-height: 1.1em;
        margin-bottom: .5em; 

        .c-title-subtitle {
            font-size: .45em;
        }

        span {
            margin-bottom: .3em; 
        }
    }
}

.c-text {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.3em;

    p {
        margin-bottom: 16px;
    }

    &-introduction {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.3em;
    }
}

.c-card {
    &-advantage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 16%;
        

        &.vertically {

        }

        &.horizontally {
            
        }

        &__pic {
            width: 200px;
            height: 200px;
            // background-color: #ccc;
            margin-bottom: 10px;
            overflow: hidden;
            // border: 3px solid #ff73bf;
            border-radius: 10px;
            background:#fae5f3;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: auto;
            }

        }
    
        &__body {
    
        }
    
        &__text {
            font-size: 16px;
            line-height: 1.2;
            text-align: center;
        }

    }

    
}

/*animation*/

.a-floating {  
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    // margin-left: 30px;
    // margin-top: 5px;

    &-10 {
        animation-delay: 0.5s;
    }

    &-20 {
        animation-delay: 1s;
    }

    &-30 {
        animation-delay: 1.5s; 
    }
}

.a-scale {
    animation-name: a-scale;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    &-10 {
        animation-delay: 0.5s;
    }

    &-20 {
        animation-delay: 1s;
    }

    &-30 {
        animation-delay: 1.5s; 
    }
}


.c-tag {
    z-index: 12;
    display: inline-block;
    background-color: #9c11a5;
    border-radius: 6px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 28px;
    line-height: 1em;
    color: #fff;
    padding: 8px 20px;
}


.c-modal {
    z-index: 10;
    background-color: #fff;
    border-radius: 12px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    position: relative;
    box-sizing: border-box;
    padding: 30px;

    

    &__body {
        margin-bottom: 30px;
    }

    @media (max-width: 480px) {
        padding: 16px; 
    } 

    &--small {
        width: 510px;
        padding: 40px;

        @media (max-width: 580px) {
            padding: 0; 
            border-radius: 0;
        }
    }

    &--large {
        width: 710px;

        @media (max-width: 850px) {
            width: 100%;
        }

        @media (max-width: 580px) {
            border-radius: 0;
        }
    }

    &-component {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        inset: 0px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        align-items: flex-start;
        z-index: 1000;
        overflow: auto;
    }

    &-wrapper {
        padding: 24px;
        display: flex;
        flex-flow: column;
        min-height: 100%;

        @media (max-width: 850px) {
            width: 100%;
        }

        @media (max-width: 580px) {
            padding: 0; 
        }

        &::before,
        &::after {
            content: " ";
            display: block;
            width: 100%;
            flex: 1 1 auto;
        }
    }

    &-main {
        position:fixed;
        background: white;
        width: 80%;
        height: auto;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }

    &-close {
        position: absolute;
        top: 13px;
        right: -38px;
        cursor: pointer;
        transition: transform 0.1s ease-in-out 0s;

        @media (max-width: 850px) {
            right: 13px;
            background-color: #eaecef;
            background-color: #E50E89;
            padding: 10px;
            border-radius: 50px;

            svg {
                width: 18px;
                height: 18px;
            }
        }

        @media (max-width: 480px) {
            top: 16px;
        }

        &:hover {
            transform: scale(1.11);
        }

        svg {
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &-layout {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        background-color: rgba(0,0,0,.6);
    }

    &-box {
        margin-bottom: 28px;
    }

    &-counter {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        &__col {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: center;
        }

        &__sum {
            padding-left: 10px;
            font-size: 32px;
        }
    }

    &-title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    &--success {

    }

    .c-grid {
        @media (max-width: 580px) {
            flex-flow: column wrap;
        } 

        &-col {
            @media (max-width: 580px) {
                width: 100%;

                &:nth-child(1) {
                    order: 2;
                }
                
                &:nth-child(2) {
                    order: 1;
                }
            }

            

             
        }
    }

    .c-title {
        @media (max-width: 480px) {
            font-size: 38px; 
        } 
    }

    
}


.c-form {
    font-size: 14px;
    //color: #9c11a5;

    &__title {
        font-size: 24px;
        margin-bottom: 14px;
    }

    &-box {
        margin-bottom: 10px;
        position: relative;
    }

    &__item {
        margin-bottom: 26px;
        position: relative;
    }

    &__footer {
        margin-top: 14px;
    }

    &-grid {
        display: flex;
        flex-flow: row wrap;
        margin-left: -10px;
        margin-right: -10px;

        &__item {
            width: 50%;
            padding: 0 10px;
        }
    }

    &-error {
        position: absolute;
        left: 0;
        bottom: -15px;
        color: #9c0e03;
        font-size: 13px;
        line-height: 1em;
    }

    &-img {
        margin-bottom: 16px;
        @media (max-width: 580px) {
            position: relative;
            height: 100px;
            overflow: hidden;
            border: 2px solid #ffa8da;
            border-radius: 6px;

            img {
                position: absolute;
                top: -37vw;
            }
        }
        img {
            width: 100%;
            height: auto;
        }
        
    }
}

.c-label {
    display: block;
    margin-bottom: 7px;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 16px;
}

.c-input {
    padding: 10px 10px;
    border: 2px solid #eaecef;
    outline: none;
    font-size: 18px;
    background-color: #fff !important;
    border-radius: 5px;
    width: 100%;

    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }

    &.error {
        border-color: #fdb8cc;
        -webkit-animation: a-error .82s cubic-bezier(.36,.07,.19,.97) both;
        animation: a-error .82s cubic-bezier(.36,.07,.19,.97) both;
    }
}

.c-textarea {
    padding: 10px 10px;
    border: 2px solid #eaecef;
    outline: none;
    font-size: 18px;
    background-color: #fff !important;
    border-radius: 5px;
    width: 100%;
}

.c-selector {
    padding: 10px 10px;
    border: 2px solid #eaecef;
    outline: none;
    font-size: 18px;
    background-color: #fff !important;
    border-radius: 5px;
    width: 100%;
}

.c-radio {
    display: inline-block;
    padding: 10px 10px;
    font-size: 18px;
}

.c-checkbox {
    display: inline-block;
    padding: 10px 10px;
    font-size: 18px;
}

.c-checkbox {
    display: flex;
    align-items: center;

    input {

    }

    label {

    }
}




.success-icon::after {
    opacity: 1;
    height: 4em;
    width: 1.9em;
    transform-origin: left top;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    content: "";
    left: 45px;
    top: 50%;
    position: absolute;
    transform: scaleX(-1) rotate(135deg);
}

@keyframes a-checkmark {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}



@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 18px); }
    100%   { transform: translate(0, -0px); }    
}
  
@keyframes a-scale {
    0% { transform: scale(1); }
    50%  { transform: scale(.95); }
    100%   { transform: scale(1); }    
}


@keyframes a-error {
    10%, 90% {
        transform: translate3d(-1px,0,0);
    }

    20%, 80% {
        transform: translate3d(2px,0,0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px,0,0);
    }
    40%, 60% {
        transform: translate3d(4px,0,0);
    }
}

