.home {
    margin-bottom: 60px;
    background: url("./../img/bg-page.png") 0 0 no-repeat;
    background-size: cover;

    &-banner {
        //background-color: $purpleColorLight;
        margin-bottom: 50px;
        position: relative;
        z-index: 0;

        &-img {
            img {
                position: relative;
                z-index: 1;
                left: 44%;
            }

        }

        &__title {
            font-size: 58px;
            text-transform: uppercase;
            color: $whiteColor;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 10px;
        }

        &__label {
            border: 1px solid $whiteColor;
            //background-color: $whiteColor;
            color: $whiteColor;
            //color: $purpleColorDark;
            padding: 8px 20px;
            display: inline-block;
            border-radius: $radiusSmall;
            font-size: 14px;
            margin-bottom: 16px;

        }

        &__text {
            font-size: 18px;
            line-height: 1.4;
            margin-bottom: 14px;
            max-width: 450px;
        }

        &-body {
            position: absolute;
            top: 20%;
            max-width: 45%;
            color: $whiteColor;

            &__head {
                margin-bottom: 18px;
            }
        }

        &-layout {
            position: relative;
            max-width: 1100px;
            margin: 0 auto;
            width: 100%;
            height: 500px;
        }
    }

    &-gift {

    }

    &-block {
        margin-bottom: 50px;

        .c-note {
            color: #d6d2e0;
        }
    }
}

.gift {
    position: relative;
    z-index: 10;

    &-list {
        display: flex;
        justify-content: space-between;
        margin-left: -15px;
        margin-right: -15px;

        &__item {
            padding: 15px;
            width: 25%;
            border-radius: $radiusBig;
        }
    }

    &-card {
        width: 100%;
        height: 330px;
        border-radius: $radiusBig;
        overflow: hidden;
        background-color: $purpleColorDark;
        //background: linear-gradient(90deg, rgba(82,66,129,1) 0%, rgba(46,24,89,1) 100%);
        color: $whiteColor;
        cursor: pointer;

        padding: 20px 26px;
        box-shadow: inset 2px 2px 9px hsla(0, 0%, 100%, 0.08),
        inset -2px -2px 4px rgba(21, 19, 41, 0.2);
        transition: box-shadow .2s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        &::before {
            opacity: 1;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: all .2s ease-in-out;
            background: linear-gradient(90deg, rgba(82, 66, 129, 1) 0%, rgba(46, 24, 89, 1) 100%);
        }

        &::after {
            opacity: 0;
            content: "";
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: all .2s ease-in-out;
            background: linear-gradient(90deg, rgba(244, 31, 59, 1) 0%, #a81a2c 65%);
            background: linear-gradient(90deg, #ca1e35 0%, #a5182b 65%);
        }

        &:hover {

            background: $redColorDark;
            box-shadow: inset 2px 2px 9px hsla(0, 0%, 100%, 0.08),
            inset -2px -2px 4px rgba(21, 19, 41, 0.2),
            0 5px 50px 0 rgba(244, 31, 59, .50);
            transition: all .2s ease-in-out;

            &::before {
                transition: all .2s ease-in-out;
                opacity: 0;
            }

            &::after {
                transition: all .2s ease-in-out;
                opacity: 1;
            }
        }

        &__title {
            max-width: 190px;
            line-height: 1.4;
            font-size: 18px;
            position: relative;
            z-index: 10;
        }

        &__img {
            position: relative;
            z-index: 10;
            //height: 260px;
        }

        &__body {
        }

        &--ps {
            .gift-card__img {
                img {
                    width: 100%;
                }
            }
        }

        &--station {
            .gift-card__img {

                img {
                    width: 100%;
                }
                top: -13px;
            }
        }

        &--top {
            position: relative;
            padding-bottom: 0;

            .gift-card__img {
                order: 2;
                transition: all .2s ease-in-out;
                transform: translateY(10px);
            }

            .gift-card__body {
                order: 1;
            }

            &:hover {
                .gift-card__img {
                    transition: all .2s ease-in-out;
                    transform: translateY(5px);
                }
            }
        }

        &--bottom {
            position: relative;

            .gift-card__img {
                transition: all .2s ease-in-out;

                img {
                    display: block;
                }
            }

            &:hover {
                .gift-card__img {
                    transition: all .2s ease-in-out;
                    transform: translateY(-5px);
                }
            }
        }

        &--right {
            position: relative;
            padding-bottom: 0;

            .gift-card__img {
                order: 2;
                transition: all .2s ease-in-out;
                transform: translateY(0);
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100%;
                display: flex;
                justify-content: right;
                align-items: center;

                img {
                    width: 100%;
                    max-width: 244px;

                }
            }

            .gift-card__body {
                order: 1;
            }

            &:hover {
                .gift-card__img {
                    transition: all .2s ease-in-out;
                    transform: translateY(-5px);
                }
            }
        }
    }
}

.rules {

    &-video {
        position: relative;
        background-color: #2e1859;
        padding: 20px;
        border-radius: 0 ;
        margin-bottom: 20px;

        video {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    &-list {
        display: flex;
        justify-content: space-between;
        margin-left: -15px;
        margin-right: -15px;

        &__item {
            width: 33.3333%;
            padding: 15px;
            position: relative;

            &:nth-child(1) {
                .rules-card {
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        margin-top: -16px;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        height: 100px;
                        background-color: #2e1859;
                    }
                }

            }
        }
    }

    &-card {
        border-radius: $radiusBig;
        background-color: $purpleColorDark;
        color: $whiteColor;
        height: 100%;
        padding: 16px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &__num {
            font-size: 30px;
            flex: 0 0 50px;
            position: relative;
            line-height: 50px;
            text-align: center;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-top: -1px;
                width: 45px;
                height: 45px;
                border-radius: 150px;
                border: 4px dotted #9c11a5;
            }
        }

        &__body {
            padding-left: 16px;
        }
    }

    &-note {
        color: $whiteColor;
    }
}

.ready {
    display: flex;
    justify-content: space-between;
    color: $whiteColor;

    &-img {
        border-radius: $radiusMedium;
        width: 100%;
        background-color: $purpleColorDark;

    }

    &-body {
        padding-left: 30px;
    }

    &-text {
        margin-bottom: 36px;
    }

    &-title {
        margin-bottom: 20px;
    }
}

.footer {
    padding: 30px 0;
    color: $whiteColor;
    border-top: 1px solid #252245;

    &-grid {
        display: flex;
        justify-content: space-between;

        &__col {
            width: 50%;
        }
    }

    &-copyright {
        opacity: .5;
    }

    &-social {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 4px;

        &__item {
            margin-left: 10px;
            display: flex;
            align-items: center;
        }

        &__link {
            border: 2px solid #fff;
            padding: 0 15px;
            border-radius: 50px;
            color: #fff;
            height: 33px;
            text-decoration: none;
            display: flex;
            align-items: center;
        }
    }

    &-number {
        font-size: 26px;
        margin-bottom: 12px;

        a {
            color: $whiteColor;
            text-decoration: none;
        }
    }

    &-nav {
        text-align: right;

        a {
            margin-left: 20px;
        }
    }
}
